<div class="edit-dialog">
    <form [formGroup]="form">
      <button mat-icon-button class="close-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
  
      <div class="form-section" *ngIf="data.settingItem">
        ID: {{ data.settingItem._id }}
      </div>
  
      <div class="form-section">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="form-section">
        <mat-form-field class="form-field">
          <mat-label>Beschreibung</mat-label>
          <input type="text" matInput formControlName="description">
        </mat-form-field>
      </div>

      <div class="form-section">
        <mat-form-field class="form-field">
          <mat-label>Wert</mat-label>
          <input type="text" matInput formControlName="value" required>
        </mat-form-field>
      </div>

  
      <div class="form-section">
        <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
        <button mat-raised-button (click)="onCancel()">Abbrechen</button>
      </div>
    </form>
  </div>
  