<form [formGroup]="form">

    <button mat-icon-button class="close-button" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="form-section">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  
      <mat-form-field class="form-field">
          <mat-label>Label</mat-label>
          <input matInput formControlName="shortName">
      </mat-form-field>
    </div>
  
    <div class="form-section">

        <mat-form-field class="form-field">
          <mat-label>category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }} 
            </mat-option>
          </mat-select>
        </mat-form-field>

      
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
    </div>
  
    <div class="form-section">
      <div formGroupName="stock">
        <mat-form-field class="form-field">
          <mat-label>Current Stock</mat-label>
          <input type="number" matInput formControlName="current">
        </mat-form-field>
      </div>
      <div formGroupName="price">
        <mat-form-field class="form-field">
          <mat-label>Current Price</mat-label>
          <input type="number" matInput formControlName="current">
        </mat-form-field>
      </div>
      <div formGroupName="thresholds">
        <mat-form-field class="form-field">
          <mat-label>Warning Threshold</mat-label>
          <input type="number" matInput formControlName="warning">
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Info Threshold</mat-label>
          <input type="number" matInput formControlName="info">
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-section">
      <img [src]="imagePreview ? imagePreview : editingProduct?.image" alt="Product Image" />
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" />
      <button mat-button (click)="fileInput.click()">Change Image</button>
    </div>
  
  
    <div class="form-section">
      <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="onSave()">Speichern</button>
      <button mat-raised-button color="warning" (click)="onCancel()">Abbrechen</button>
    </div>


  
  </form>
  