<div class="mat-elevation-z8">
  <div class="toolbar" style="display: flex; justify-content: space-between;">
    <h2>Bestellungen</h2>
    <button mat-raised-button color="primary" (click)="editOrder()">Bestellung hinzufügen</button>
    <button mat-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
  </div>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <div class="spinner-container">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
      
      <!-- Order ID Column -->
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order._id}} </mat-cell>
      </ng-container>
  
      <!-- Order Details Column -->
      <ng-container matColumnDef="orderDetails">
        <mat-header-cell *matHeaderCellDef> Bestelldetails </mat-header-cell>
        <mat-cell *matCellDef="let order">
            <table>
                <tr *ngFor="let detail of order.orders">
                  <td>{{ detail.amount }}</td> x
                    <td>{{getProductNameById( detail.product.id )}}</td>
                </tr>
            </table>
        </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kosten </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.total}} €</mat-cell>
    </ng-container>  

      <!-- Creation Time Column -->
      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.creationTime | date}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
        <mat-cell *matCellDef="let order">
          <!-- <button mat-icon-button color="accent" (click)="editOrder(order._id)">
            <mat-icon>edit</mat-icon>
          </button> -->
          <button mat-icon-button color="primary" (click)="viewOrder(order._id)">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editOrder(order._id!)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteOrder(order._id)">
            <mat-icon>delete</mat-icon>
          </button>
          
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
  <div class="center-content">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
    
    <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>