<div class="edit-dialog">
<form [formGroup]="form">

    <button mat-icon-button class="close-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>


      <div class="order-section">
        <h2><mat-label>Bestellungen</mat-label></h2> 
         <p></p>
       <div formArrayName="orders">
         <table>
         <div *ngFor="let orderDetails of OrderFormArray.controls; let i = index" [formGroupName]="i">
         <tr>
           <th>
            <mat-form-field class="activity-field">
              <mat-label>Produkt</mat-label>
              <mat-select formGroupName="product" formControlName="id"  (selectionChange)="onProductSelect($event, i)">
                <mat-option *ngFor="let product of products" [value]="product._id">
                  {{product.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </th>
           <th>
            <mat-form-field class="form-field">
              <mat-label>Anzahl</mat-label>
              <input type="number" matInput formControlName="amount">
            </mat-form-field>
          </th>
           <th>
             <button mat-raised-button color="warn" (click)="removeOrderDetails(i)"><mat-icon>delete</mat-icon></button>
           </th>
         </tr>
         </div>
       </table>
       <div class="add-details-button">
       <button mat-raised-button color="primary" (click)="addOrderDetails()"><mat-icon>add_circle</mat-icon>Produkt</button>
     </div>
     </div>
   </div>
   <p></p>
   <div class="form-section">
    <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
  </div>
  </form>
</div>