<form [formGroup]="form">

    <button mat-icon-button class="close-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>


    <mat-form-field>
      <input matInput placeholder="Creation Time" formControlName="creationTime" readonly>
    </mat-form-field>
  
    <div formArrayName="orders">
      <div *ngFor="let orderDetail of orderDetails().controls; let i = index" [formGroupName]="i">
        <div style="display: flex; align-items: center;">
          <mat-form-field style="flex: 1;">
            <input matInput placeholder="Product ID" formControlName="id" readonly>
          </mat-form-field>
          <div formGroupName="product"> <!-- Add this wrapper -->
            <mat-form-field style="flex: 2;">
              <select matNativeControl placeholder="Product Name" formControlName="id" (change)="onProductSelected($event, i)">
                <option *ngFor="let product of products" [value]="product._id">{{product.label}}</option>
              </select>
            </mat-form-field>
          </div> <!-- End wrapper -->
          <mat-form-field style="flex: 1;">
            <input matInput placeholder="Amount" formControlName="amount" type="number">
          </mat-form-field>
          <button mat-button (click)="removeOrderDetails(i)">Remove</button>
        </div>
      </div>
    </div>
    
    
    <button mat-button type="button" (click)="addOrderDetails()">Add Product</button>
    <button mat-button (click)="onSave()">Save</button>
</form>
  