<div class="container">
  <input [(ngModel)]="searchFilter" placeholder="Search orders">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="resetFilter()">Reset</button>
  <div class="row">
    <!-- Ihre Tabelle hier -->
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="onSort('creationTime')">
            creationTime
            <i *ngIf="sortType === 'creationTime' && sortReverse" class="fa fa-arrow-up"></i>
            <i *ngIf="sortType === 'creationTime' && !sortReverse" class="fa fa-arrow-down"></i>
          </th>
          <th scope="col" (click)="onSort('orders')">
            Order
            <i *ngIf="sortType === 'orders' && sortReverse" class="fa fa-arrow-up"></i>
            <i *ngIf="sortType === 'orders' && !sortReverse" class="fa fa-arrow-down"></i>
          </th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let order of filteredOrders; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{order.creationTime | date:'dd.MM.yyyy, HH:mm:ss' }}</td>
          <td>
            <div *ngFor="let detail of order.orders">
              Product: {{detail.product.name}}, 
              Amount: {{detail.amount}}
            </div>
          </td>
          
          <td>
            <button class="btn btn-warning me-2" (click)="openEditModal(order)">Edit  <fa-icon [icon]="faPen"></fa-icon></button>
            <button class="btn btn-info me-2" (click)="openPrintModal(order)">Print  <fa-icon [icon]="faPrint"></fa-icon></button>
            <button class="btn btn-danger" (click)="openDeleteModal(order)">Delete  <fa-icon [icon]="faTrashCan"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p></p><p></p><p></p>
<div class="bottom text-center mb-3">
  <button class="btn btn-success btn-lg" (click)="openCreateModal()"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>
