pymongo
flask
flask-restx
flask-expects-json
requests
flask-cors
escpos
pillow
pyyaml
cffi
PyJWT
flask_limiter
fpdf2
gunicorn
python-dotenv
get-docker-secret
flask-caching
redis
flask_monitoringdashboard