pymongo<4.8
flask
flask-restx
flask-expects-json
requests
flask-cors
escpos
pillow
pyyaml
cffi
PyJWT
flask_limiter
fpdf2
gunicorn<22
python-dotenv
get-docker-secret
flask_monitoringdashboard
flask-socketio
eventlet
bcrypt