<div class="container">
  <button class="btn btn-sm btn-primary" (click)="updateAllSettings()">Save</button>
  <div class="row" *ngFor="let category of objectKeys(groupedSettings); let isLast=last">
    <h2>Category: {{category}}</h2>
    <div class="col-md-4 mb-3" *ngFor="let setting of groupedSettings[category]">
      <h4>{{setting.name}}</h4>
      <div>
        <label>Value</label>
        <input class="form-control" [(ngModel)]="setting.value" />
      </div>
    </div>
    <div class="d-flex justify-content-center">
    </div>
    <hr *ngIf="!isLast" /> <!-- Do not add a line after the last category -->
  </div>
</div>
