<div class="container">
    <div class="row" *ngFor="let category of objectKeys(groupedSettings); let isLast=last">
      <h2>Category: {{category}}</h2>
      <div class="col-md-4 mb-3" *ngFor="let setting of groupedSettings[category]">
        <h4>{{setting.name}}</h4>
        <div *ngFor="let item of setting.settings; let i = index">
          <div *ngFor="let key of objectKeys(item)">
            <label>{{ key }}</label>
            <input class="form-control" [(ngModel)]="setting.settings[i][key]" />
          </div>
        </div>
        <button class="btn btn-primary m-1" (click)="updateSettings(setting._id, setting)">Save</button>
      </div>
      <hr *ngIf="!isLast" /> <!-- Do not add a line after the last category -->
    </div>
  </div>
